.App {
  text-align: center;
  background-color: black;
  color: white;
  /* height: 100vh; */
  display: grid;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(9,90,121,1) 47%, rgba(0,0,0,1) 100%);
}


/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

:root{
  --main-radius: 5px;
  --main-padding: 5px;
}

.detailContainer {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .25fr .375fr .25fr .125fr;
  grid-gap: 0.2rem;
  grid-template-areas: 
    "detailPoster detailTitle"
    "detailPoster detailDescription"
    "detailPoster detailDescription"
    "detailGenre detailDescription"
    "detailBack detailBack"
  ;
  justify-content: start;
}

#detailPoster {
  background-color: lightblue;
  grid-area: detailPoster;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

#detailTitle {
  background-color: lightcoral;
  grid-area: detailTitle;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

#detailDescription {
  background-color: lightseagreen;
  grid-area: detailDescription;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

#detailGenre {
  background-color: lightsalmon;
  grid-area: detailGenre;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

#detailBack {
  background-color: lightsalmon;
  grid-area: detailBack;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

@media only screen and (max-width: 550px) {
  .detailContainer {
    grid-template-columns: 1fr;
    grid-template-rows: .375fr .125fr .25fr .125fr;
    grid-template-areas: 
      "detailPoster"
      "detailTitle"
      "detailDescription"
      "detailGenre"
      "detailBack"
    ;
  }
}


.listContainer {
  background-color: tomato;
  display: grid;
  /* height: 80vh; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: .33fr .33fr .33fr;
  grid-gap: 0.2rem;
  /* grid-template-areas: 
    "detailPoster detailTitle"
    "detailPoster detailDescription"
    "detailPoster detailDescription"
    "detailGenre detailDescription"
    "detailBack detailBack"
  ; */
  justify-content: start;
}


.itemContainer {
  background-color: blueviolet;
  display: grid;
  /* height: 80vh; */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.2rem;
  /* grid-template-areas: 
    "detailPoster detailTitle"
    "detailPoster detailDescription"
    "detailPoster detailDescription"
    "detailGenre detailDescription"
    "detailBack detailBack"
  ; */
  justify-content: start;
}

/* for poster thumbnails in item */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 60%; */
  height: 100%;
}